<div class="row justify-content-md-center mt-4">
  <div class="col-sm-12 col-md-6">
    <div class="card card-body">
      <div class="text-center">
        <h1 class="card-title text-primary">Broaden your horizons</h1>
        <p class="lead">Learn more about a scientific field. Simply paste in an RIS file of publications, and find keywords and analysis to help you discover more</p>
        <hr>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <small class="text-muted">(<%= @minimum_password_length %> characters minimum)</small>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <%= f.submit "Sign up", class: 'btn btn-outline-primary' %>
      <% end %>

      <div class="text-center">
        <hr>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

