<!DOCTYPE html>
<html>
  <head>
    <title>Eshackathon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div id="wrapper">
      <%= render 'layouts/sidebar' %>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <%= render 'layouts/flash_notifications' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
